name: Terraform ECR Apply

on:
  workflow_dispatch:

jobs:
  apply:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init (ECR)
        run: |
          cd terraform/ecr
          terraform init

      - name: Terraform Plan (ECR)
        run: |
          cd terraform/ecr
          terraform plan

      - name: Terraform Apply (ECR)
        run: |
          cd terraform/ecr
          terraform apply -auto-approve
