name: Terraform RDS Apply

on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Export Terraform variables
        run: |
          echo "TF_VAR_db_password=${{ secrets.TF_VAR_db_password }}" >> $GITHUB_ENV

      - name: Terraform Init
        run: |
          cd terraform/rds
          terraform init

      - name: Terraform Plan
        run: |
          cd terraform/rds
          terraform plan -input=false

      - name: Terraform Apply
        run: |
          cd terraform/rds
          terraform apply -auto-approve -input=false
